<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Acropolis{% endblock %}</title>

    <!-- GLOBAL LOGO / FAVICON -->
    <link rel="icon" type="image/webp" href="https://i.ibb.co/8tZSKKT/logo-with-bg.webp">

    <!-- SEO / SOCIAL -->
    <meta property="og:image" content="https://i.ibb.co/8tZSKKT/logo-with-bg.webp">
    <meta name="twitter:image" content="https://i.ibb.co/8tZSKKT/logo-with-bg.webp">

    {% block head %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

</body>
</html>
