# Node.js
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.sqlite3

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
push-subscription.js

PushManager.subscribe

pywebpush
service-worker.js