<!DOCTYPE html>
<html>
<head>
<title>Create Class</title>
<style>
body{font-family:Poppins;padding:20px;}
input,button{padding:10px;margin:8px;width:250px}
</style>
</head>
<body>

<h2>Create Class</h2>

<input id="classname" placeholder="Class Name (CSE1)">
<br>
<input id="start" placeholder="Start Enrollment (0827CS241105)">
<br>
<input id="end" placeholder="End Enrollment (0827CS241200)">
<br>
<button onclick="createClass()">Create Class</button>

<script>
    const API = "http://localhost:5000";
async function createClass(){
    let data = {
        classname: document.getElementById("classname").value,
        start: document.getElementById("start").value,
        end: document.getElementById("end").value
    };

 let res = await fetch(`${API}/api/classes/create`, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify(data)
});
    let out = await res.json();
    alert(out.message);
}
</script>

</body>
</html>
